<% if(item.SchoolorDistrict === "District") { %>

  <div id="<%= item.id %>" class="district" data-county="<%= item.county %>">
    <div class="description">
      <div class="dis_Name">ALL SCHOOLS - <%= item.Name %></div>

      <div>(<%= item.county %> County)</div>

      <% if(item.startDate) { %>
        <span class="closedDated">Closed <%= item.startDate %> until <%= item.endDate %></span>
      <% } else { %>
        <span class="closedDated">Closed <%= item.endDate %></span>
      <% } %>

      <% if(item.online) { %>
        <div class="online"><%= item.online %></div>
      <% } %>


      <div class="source">Source: <%= item.Source %></div>
    </div>
  </div>



<% } %>
