<% if(item.SchoolorDistrict === "School") { %>

  <div id="<%= item.id %>" class="school" data-county="<%= item.county %>">
    <div class="description">
      <div class="name"><%= item.Name %></div>

      <div><%= item.District %> School District in <%= item.county %> County</div>

      <% if(item.startDate) { %>
        <div class="closedDated">Closed for <%= item.NumberofClosedDays %> days from: <%= item.startDate %> until <%= item.endDate %></div>
      <% } else { %>
        <div class="closedDated">Closed on <%= item.endDate %></div>
      <% } %>
    </div>
    <div class="source">Source: <%= item.Source %></div>
  </div>

<% } %>
