<% if(item.SchoolorDistrict === "School") { %>

  <div id="<%= item.id %>" class="school" data-county="<%= item.county %>">
    <div class="description">
      <div class="name"><%= item.Name %></div>

      <div><%= item.District %> School District (<%= item.county %> County)</div>

      <% if(item.startDate) { %>
        <div class="closedDated">Closed <%= item.startDate %> until <%= item.endDate %></div>
      <% } else { %>
        <div class="closedDated">Closed <%= item.endDate %></div>
      <% } %>

      <% if(item.online) { %>
        <div class="online"><%= item.online %></div>
      <% } %>

      <div class="source">Source: <%= item.Source %></div>
    </div>

  </div>

<% } %>
