@import "seattletimes";

.filter {
  margin-bottom: 2em;

  .countyButton {
    text-align: center;
    width: 100px;
    background-color: #aaa;
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin: 0.5em;
  }

  .countyButton:hover {
    background-color: #bbb;
  }
}



.school {
  background-color: #efefef;
  font-family: @df-sans;
  margin: 0.5em 0;

  .description{
    padding: 1em;

    .name {
      font-weight: 900;
    }
  }

  .source {
    text-align: right;
    padding: 0 5px 5px 0;
    font-size: 0.9em;
  }
}


.district {
  background-color: red;
  font-family: @df-sans;
  margin: 0.5em 0;

  .description{
    padding: 1em;

    .dis_Name {
      font-weight: 900;
    }
  }

  .source {
    text-align: right;
    padding: 0 5px 5px 0;
    font-size: 0.9em;
  }
}

.hideMe {
  display: none;
}
