<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <div id="public" class="container">
      <!-- content goes here -->
      <h2 class="graphic-hed">Coronavirus school closures</h2>
      <!-- <h4 class="graphic-chatter">Click to filter closures by county:</h4> -->
      <h4 class="graphic-chatter"><i>Last updated: March 12 at 2:05 p.m.</i></h4>



      <div class="schoolList">
        <div class="urgent">
          <b><span>Governor's executive order:</span> All King County K-12 public and private schools must close and end classes no later than March 17, and will remain closed through April 24.</b>
        </div>

        <div class="urgent">
          <b><span>Governor's executive order:</span> All Pierce County K-12 public and private schools must close and end classes no later than March 17, and will remain closed through April 24.</b>
        </div>

        <div class="urgent">
          <b><span>Governor's executive order:</span> All Snohomish County K-12 public and private schools must close and end classes no later than March 17, and will remain closed through April 24.</b>
        </div>



          <% json.notcoun.sort((a, b) => a.Name.localeCompare(b.Name)).forEach(function(item, i) { %>
            <%= t.include("partials/_district.html", { item: item, index: i }) %>
          <% }) %>

          <% json.notcoun.sort((a, b) => a.Name.localeCompare(b.Name)).forEach(function(item, i) { %>
            <%= t.include("partials/_school.html", { item: item, index: i }) %>
          <% }) %>
      </div>

    </div>

    <div>
          <p class="data-source">Source: <a href="https://www.k12.wa.us/about-ospi/press-releases/novel-coronavirus-covid-19-guidance-resources">OSPI</a></p>
          <p class="art-credit">Lauren Flannery / The Seattle Times</p>
    </div>





    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
